---
layout: default

---
{% for post in site.posts %}
<article class="chart  chart--post one-whole">
    <img class="chart__hero" src="http://placehold.it/1500x500">
    <h1 class="chart__label">{{ post.title }}</h1>
</article>
{% endfor %}
<article class="chart  chart--post two-thirds">
    <img class="chart__hero" src="http://placehold.it/1000x500">
    <h1 class="chart__label">Foobar</h1>
</article>
<article class="chart  chart--post one-third">
    <img class="chart__hero" src="http://placehold.it/500x500">
    <h1 class="chart__label">Title</h1>
</article>
